**
!.dockerignore
!Cargo.toml
!Cargo.lock
!LICENSE
!RUST_DEPENDENCY_LICENSES.tsv
!THIRD_PARTY_NOTICES.md
!README.md
!.env.example
!build.rs
!migrations/
!migrations/**
!src/
!src/**
!web/
!web/admin/
!web/admin/**
!web/setup/
!web/setup/**
!web/public/
!web/public/**
!web/fonts/
!web/fonts/**
!packaging/
!packaging/innoextract/
!packaging/THIRD_PARTY_NOTICES.md
!packaging/collect-rust-notices.py
!packaging/trivy-ignore.yaml
!packaging/licenses/
!packaging/licenses/**
!packaging/innoextract/version.env
